@media (min-width: 481px) {
	.main-header {
		font-size: 2.4rem;
		letter-spacing: 0.1rem;
		font-weight: 400;
		color: #3B3B3B;
		font-family: "Josefin Sans Bold", sans-serif;
	}

	div {
		overflow-x: hidden;
		overflow-y: auto;
	}

	.main-para {
		font-family: "Seravek Light", sans-serif;
		font-weight: 300;
		color: #292929;
		font-size: 1.4rem;
		text-align: left;

	}
}

@media (max-width: 420px) {
	.main-header {
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		font-weight: 400;
		color: #3B3B3B;
		font-family: "Josefin Sans Bold", sans-serif;
	}

	.main-para {
		font-family: "Seravek Light", sans-serif;
		font-weight: 300;
		color: #292929;
		font-size: 1rem;
		text-align: left;
	}

	div {
		overflow-x: hidden;
		overflow-y: auto;
	}
}
