@media (min-width: 481px) {
	.main-header {
		font-size: 2.4rem;
		letter-spacing: 0.1rem;
		font-weight: 400;
		color: #3B3B3B;
		font-family: "Josefin Sans Bold", sans-serif;
	}

	div {
		overflow-x: hidden;
		overflow-y: auto;
	}

	.main-para {
		font-family: "Seravek Light", sans-serif;
		font-weight: 300;
		color: #292929;
		font-size: 1.4rem;
		text-align: left;
	}

	.sub-title {
		color: #8b8b8b;
		letter-spacing: 0.2rem;
		font-family: "Josefin Sans Bold", sans-serif;
		font-size: 1rem;
		cursor: pointer;
	}

	.margin-title {
		margin-right: 0;
		margin-left: 1rem;
	}


	.sub-title-selected {
		color: #171717;

	}
	.contain {
		flex-direction: column;
		display: flex;
	}

}

@media (max-width: 420px) {
	.main-header {
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		font-weight: 400;
		color: #3B3B3B;
		font-family: "Josefin Sans Bold", sans-serif;
	}

	.main-para {
		font-family: "Seravek Light", sans-serif;
		font-weight: 300;
		color: #292929;
		font-size: 1rem;
		text-align: left;
	}

	div {
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.sub-title {
		color: #8b8b8b;
		letter-spacing: 0.1rem;
		font-family: "Josefin Sans Bold", sans-serif;
		font-size: 0.9rem;
		cursor: pointer;
		margin-right: 0;
	}

	.margin-title {
		margin-right: 0;
		margin-left: 1rem;
	}


	.sub-title-selected {
		color: #171717;

	}
}
