<div class="container-fluid">
	<div class="fixed-bottom row">
		<div class="col-md-4  col-xs-12 my-5">
			<div class=" text-center">
				<img
			  src="https://res.cloudinary.com/ducctr5hn/image/upload/w_300,h_90/v1563007190/assets/5_sbmmzb.png"
			  alt="">

			</div>
			<div class=text-center style="margin-left: 7.3rem">
				<a href="https://www.linkedin.com/in/mamta-kumar"
				   target="_blank">
						<img src="../../../../assets/images/linkedin.svg" alt=""
						 style="width: 1.5rem; height: 1.5rem">
				</a>

					<a href="https://twitter.com/coboticsai"
						target="_blank"
					   class = "ml-4"
					>
							<img src="../../../../assets/images/twitter.svg" alt=""
							 style="width: 1.5rem; height: 1.5rem">
					</a>

			</div>

		</div>
		<div class="col-md-8 text-center col-xs-12 " style="background-color: #EDF3FD">
			<div class="footer-nav " >
				<a class="mx-4" routerLink="/home" routerLinkActive="active">HOME</a>
				<a class="mx-4" routerLink="/services" routerLinkActive="active">SERVICES</a>
				<a class="mx-4" routerLink="/aboutUs" routerLinkActive="active">ABOUT US</a>
				<a class="mx-4" routerLink="/contact" routerLinkActive="active">CONTACT</a>
				<a class="mx-4" routerLink="/legal" routerLinkActive="active">LEGAL</a>
			</div>
			<div class="pt-5">
					<p class = "company"> <span>
						<img src="../../../../assets/images/copyright.svg"
							 alt=""
							 class="copy"
							>
					</span>
						<span class="year">2019</span>
					<span class="powered">POWERED BY</span>
					COBOTICS BUSINESS SERVICE LLC</p>
			</div>
		</div>

	</div>
</div>


