<div class="container-fluid">
	<div class="row ">
		<div class="col-md-5 col-xs-12 text-left text-xs-center ml-5 "
		style="margin-top: 4.6rem;">
			<p class="main-header mb-3">LET’S BUILD AN &nbsp; <br>
				<span class="highlight-violet  ">AI</span> POWERED FUTURE &nbsp; <br> TOGETHER </p>
			<p class="main-para my-3"> In Cobotics-AI, We firmly believe that Companies can now&nbsp; <br>
				benefit from AI without heavy investments in resource &nbsp; <br>and infrastructure </p>
			<p class="learn-more pointer mb-3 mt-5">LEARN MORE
				<span>
					<img src="../../../assets/images/arrow.svg" alt="" class="pointer arrow">
				</span>
			</p>
		</div>
		<div class="col-md-6 col-xs-12 text-center mb-3 my-0 py-0">
			<img src="https://res.cloudinary.com/ducctr5hn/image/upload/w_600,h_600/v1563007191/assets/1_wq2g3u.png"
				 alt="">
		</div>
	</div>
</div>
