.heading {
	font-family: 'Josefin Sans Bold', serif;
	font-weight: 700;
	color: #50539A;
	font-size: 2.5rem;
	line-height: 4.2rem;
}

.main-header{
	font-family: 'Josefin Sans Bold', serif;
	font-weight: 700;
	font-size: 2.3rem;
	letter-spacing: 0.1rem;
	color : #3B3B3B;
}
.main-para{
	font-family: "Seravek Light", sans-serif;
	font-weight: 200;
	letter-spacing: 0.05rem;
	color: #656565;
	font-size: 1.6rem;
}
