.header {
	color: #3B3B3B;
	font-size: 3rem;
	font-family: "Josefin Sans", sans-serif;
}

.policy {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	color: #000000;
	font-size: 1rem;
	font-family: "Josefin Sans", sans-serif;
}
